<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.netdisk.mapper.FileInfoMapper">

    <resultMap id="FileInfoMap" type="com.example.netdisk.entity.FileInfo">
        <id column="id" property="id"/>
        <result column="original_name" property="originalName"/>
        <result column="storage_name" property="storageName"/>
        <result column="storage_path" property="storagePath"/>
        <result column="file_size" property="fileSize"/>
        <result column="content_type" property="contentType"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <insert id="insert" parameterType="com.example.netdisk.entity.FileInfo" useGeneratedKeys="true" keyProperty="id">
        insert into file_info
            (original_name, storage_name, storage_path, file_size, content_type)
        VALUES
            (#{originalName}, #{storageName}, #{storagePath}, #{fileSize}, #{contentType})
    </insert>

    <select id="findAll" resultMap="FileInfoMap">
        SELECT * FROM file_info ORDER BY create_time DESC
    </select>

    <select id="findById" resultMap="FileInfoMap">
        SELECT * FROM file_info WHERE id = #{id}
    </select>

</mapper>